*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #bada55;
}
p{
    display: none;
}

.hamburger:hover p{
    display: block;
}